body{
  background:pink;
}
.parent{
  width:100%;
  display: flex;
  background-color: green;
  /*justify-content:center;*/
  }
  table>tr>td{
    padding:1%;
  }
  a{
    word-wrap: break-word;
  }
  .child1{
    background-color: yellow;
    width:40%;
    text-align: center;
    margin:1%;
  }
  .child2{
    background-color: blue;
    width:60%;
    margin:1%;
    padding:1%;
  }
  img{
    border-radius: 25px%;
    border: 2px green;
    width:60%;
    height:35%;
  }
h2{
  color:orange;
  }
  h1{
    color:lightgreen;
  }
  p{
    font-size: 20px;
  }
  @media only screen  and(min-width:480px){
    *{
    font-size:20px;
  }
    .parent{
      width:100%;
      background-color: aqua;
      display: flex;
      flex-direction: column;
    }
  .child1{
    background-color: bisque;
    text-align: center;
    width:90%;
    margin: 2%  auto;
    padding: 2%;
    border-radius: 20px;
    /*height:20%;*/
  }
  .child2{
    background-color: lightblue;
    width:90%;
    margin:2% auto;
    pading:1%;
    border-radius: 20px;
  }
  img{
    width:60%;
    height:35%;
    border-radius: 25px;
    border: 2px lightyellow;
  }
  h2{
    color:purple;
  }
  h1{
    color:grey;
  }
  .table-responsive{
    overflow-x:scroll;
    width:90%;
    margin:1% auto;
  }
}
@media only screen  and (min-width:481px) and (max-width:769px){
*{
  font-size:20px;
}
.parent{
  width:100%;
  background-color: red;
  display: flex;
  flex-direction: 20px;
}
.child1{
  background-color: bisque;
  text-align: center;
  width:90%;
  margin: 2%  auto;
  padding: 2%;
  border-radius: 20px;
}
  .child2{
    background-color: lightblue;
    width:90%;
    margin:2% auto;
    pading:1%;
    border-radius: 20px;
}
img{
  width:60%;
  height:35%;
  border-radius: 25px;
  border: 2px lightyellow;
}
h2{
  color:purple;
}
h1{
  color:grey;
}
.table-responsive{
  overflow-x: scroll;
  width:90%;
  margin:1% auto;
  }
}
